@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
body {
  font-family: "Raleway", sans-serif;
  color: #fffbfb;
  background-image: linear-gradient(to right bottom, #092841 50%, #52b69a 130%);
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 68vw 30vw;
  grid-template-rows: 15% 85%;
  justify-content: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  }


 .Milestones {
  width: 100vw;
  height: 100vh;
  background:rgba(0,0,0,0.87);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

}



.Mname {

    color: rgb(0, 0, 0);
    background-color: #ececea;
    padding: 18px;
    border-radius: 10px;
    width: 406px;
    position: absolute;
    top: 15%;
   



}
.Mname  {

  border-radius: 5px;
  border: 1px solid silver;
  height: 440px;
  width: 400px;
  border-color: rgb(226, 226, 226);
  box-shadow: 0 4px 6px #00000066;
  
}

label {


color: #4b4b48;
font-size: 18.5px;
outline: none;



}

.Mname .aHeader {


  color: #4b4b48;
  font-size: 18.5px;
  outline: none;
  position: absolute;
  top:1%
  
  
  }

  .Mname .cHeader {


    color: #4b4b48;
    font-size: 18.5px;
    outline: none;
    position: absolute;
    top:32%
    
    
    }

    .Mname .dHeader {


      color: #4b4b48;
      font-size: 18.5px;
      outline: none;
      position: absolute;
      top:66%
      
      
      }



input::placeholder {
 
  color: silver;

}

.Mcontent {

  color: rgb(0, 0, 0);
  background-color: #ececea;
  padding: 18px;
  border-radius: 10px;
  width: 406px;
  margin: 6;

}

.Mcontent input {


  border-radius: 5px;
  border: 1px solid silver;
  height: 100px;
  width: 400px;
}

.Mbuttons {

  cursor:pointer;
  width: 444px;
  height: 45px;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0 4px 6px #00000066;
  position: absolute;
  top: 600px;
  left: 34.9%;
}

.Mname .xbutton {

position: absolute;
left: 380px;
width: 40px;
height: 30px;
background-color: rgb(224, 84, 18);
color: white;

}

.Mbuttons:hover {
  background-color: #489de2;
  box-shadow:0 0 5px #ff96ad, 0 0 25px 
  #279be9, 0 0 50px #ff96ad, 0 0 200px #1cb0dd;
}


.Mbox{
  text-align: center;
  background-color: rgb(6, 123, 158);
  width: 600px;
  height: 55px;
  color: rgb(0, 0, 0);
  position: absolute;
  top:15%;
  left: 55%;
  font-size: 12px;
  border-radius: 15px;  
  border:1;
  border-style:solid;
  border-color: rgb(1, 159, 233);

}

input {

width : 52.5%;
position: absolute;
top:29%;
left: 5%;
height: 5%;

}

.Mname .aInput {

position: absolute;
top:15%;
width: 88%;
height: 10%;

}


.Mname .cInput {

  position: absolute;
  top:45%;
  width: 88%;
  height: 20%;
  
  }
.Mname .dInput {

    position: absolute;
    top:80%;
    width: 88%;
    height: 14%;
    
    }
      

.Mbutton{
 color: rgb(255, 255, 255);
 background-color: #04ff25d0;
 width: 10%;
 height: 47px;
 position:fixed;
 top: 85%;

 left: 25%;
 cursor: pointer;


}





.ment .left {

font-size: 22px;
text-align:left;
font-family: Verdana, Geneva, Tahoma, sans-serif;



}

.Dbutton {

  color: rgb(209, 6, 6);
  background-color: #ececea;
  width: 25%;
  height: 47px;
  position: absolute;
  top: 8px;
  left: 105%;
  cursor: pointer;
}
.accordionBgc {
  background-color: rgba(0, 255, 255, 0.808);

  width: 90%;
  height: 130px;
  list-style: none;
  margin: 0;
  padding: 0;
  
  position: relative;
  top:30px;
  left:39px;
  border-radius: 1px;


}

.Maccordion {

  color: #000000;
  width: 82%;
  height: 1px;
  list-style: none;
  margin: 0;
  padding: 0;
  
  position: relative;
  top:142px;
  left:48px;
  border-radius: 1px;
  border: 12px;
  border-color: #092841;

}

.Subaccordion {

background-color: rgb(122, 122, 122);
position: relative;

}

.Aaccordion {

background-color: rgba(18, 153, 216, 0.541);
height: 450px;
width: 800px;
position: absolute;
top: 220px;
left: 61px;
border: #092841;
border-width: 120px;

}

.AccordionBGC {

background-color: #fff;
background-color: rgba(18, 153, 216, 0.541);
height: 450px;
width: 800px;

}

.AAcordion {

position: absolute;
top: 180px;
left: 40px;
width: 840px;
list-style: none;
margin: 0;
padding: 0;

}

.AAcordion .AAcordionButton {


  position: absolute;
  top: 35px;
  left: 760px;
  background-color: rgb(209, 6, 6);
  color: white;
  
}