
 .Milestones {
  width: 100vw;
  height: 108vh;
  background:rgba(0,0,0,0.87);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

}



.Mname {

    color: rgb(0, 0, 0);
    background-color: #ececea;
    padding: 18px;
    border-radius: 10px;
    width: 406px;
    position: absolute;
    top: 22%;
   



}
.Mname  {

  border-radius: 5px;
  border: 1px solid silver;
  height: 440px;
  width: 400px;
  border-color: rgb(226, 226, 226);
  box-shadow: 0 4px 6px #00000066;
  
}

label {


color: #4b4b48;
font-size: 18.5px;
outline: none;



}

.Mname .aHeader {


  color: #4b4b48;
  font-size: 18.5px;
  outline: none;
  position: absolute;
  top:1%
  
  
  }

  .Mname .cHeader {


    color: #4b4b48;
    font-size: 18.5px;
    outline: none;
    position: absolute;
    top:32%
    
    
    }

    .Mname .dHeader {


      color: #4b4b48;
      font-size: 18.5px;
      outline: none;
      position: absolute;
      top:66%
      
      
      }



input::placeholder {
 
  color: silver;

}

.Mcontent {

  color: rgb(0, 0, 0);
  background-color: #ececea;
  padding: 18px;
  border-radius: 10px;
  width: 406px;
  margin: 6;

}

.Mcontent input {


  border-radius: 5px;
  border: 1px solid silver;
  height: 100px;
  width: 400px;
}

.Mbuttons {

  cursor:pointer;
  width: 444px;
  height: 45px;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0 4px 6px #00000066;
  position: absolute;
  top: 656px;
  left: 34.9%;
}

.Mname .xbutton {

position: absolute;
left: 380px;
width: 40px;
height: 30px;
background-color: rgb(224, 84, 18);
color: white;

}

.Mbuttons:hover {
  background-color: #489de2;
  box-shadow:0 0 5px #ff96ad, 0 0 25px 
  #279be9, 0 0 50px #ff96ad, 0 0 200px #1cb0dd;
}


.Mbox{
  text-align: center;
  background-color: rgb(6, 123, 158);
  width: 600px;
  height: 55px;
  color: rgb(0, 0, 0);
  position: absolute;
  top:15%;
  left: 55%;
  font-size: 12px;
  border-radius: 15px;  
  border:1;
  border-style:solid;
  border-color: rgb(1, 159, 233);

}

input {

width : 52.5%;
position: absolute;
top:29%;
left: 5%;
height: 5%;

}

.Mname .aInput {

position: absolute;
top:15%;
width: 88%;
height: 10%;

}


.Mname .cInput {

  position: absolute;
  top:45%;
  width: 88%;
  height: 20%;
  
  }
.Mname .dInput {

    position: absolute;
    top:80%;
    width: 88%;
    height: 14%;
    
    }
      

.Mbutton{
 color: rgb(255, 249, 249);
 background-color: rgb(245, 80, 80);
 width: 100px;
 height: 40px;
 position:fixed;
 top: 85%;
 box-shadow: 1px 10px 8px 0px #1f1f1f;
 left: 26.8%;
 cursor: pointer;
 font-size: 30px;


}





.ment .left {

font-size: 22px;
text-align:left;
font-family: Verdana, Geneva, Tahoma, sans-serif;



}

.Dbutton {

  color: rgb(209, 6, 6);
  background-color: #ececea;
  width: 25%;
  height: 47px;
  position: absolute;
  top: 8px;
  left: 105%;
  cursor: pointer;
  
}
.accordionBgc {
  background-color: rgba(0, 255, 255, 0.808);

  width: 90%;
  height: 130px;
  list-style: none;
  margin: 0;
  padding: 0;
  
  position: relative;
  top:30px;
  left:39px;
  border-radius: 1px;


}

.Maccordion {

  color: #000000;
  width: 82%;
  height: 1px;
  list-style:none;

  
  position: relative;
  top:142px;
  left:48px;


}

.Subaccordion {

background-color: rgb(122, 122, 122);
position: relative;

}

.Aaccordion {

background-color: rgba(18, 153, 216, 0.541);
height: 450px;
width: 800px;
position: absolute;
top: 220px;
left: 61px;
border: #092841;
border-width: 120px;

}

.AccordionBGC {

background-color: #fff;
background-color: rgba(18, 153, 216, 0.541);
height: 450px;
width: 800px;

}

.AAcordion {

position: absolute;
top: 180px;
left: 40px;
width: 840px;
list-style: none;
margin: 0;
padding: 0;

}

.AAcordion .AAcordionButton {


  position: absolute;
  top: 35px;
  left: 760px;
  background-color: rgb(209, 6, 6);
  color: white;
  
}

/* .Alist li {

  background-color: red;
} */

.deleteButton {

  color: white;
  background-color:rgb(209, 6, 6);
  position: relative;
  top: 10px;
  left: 270%;

}

.mtest {

  color: black;
  background-color: #fff;
  position: absolute;
  top: 140px;
  left: 60px;
  width: 660px;
 
  justify-content: space-between;
  
  
}
.mtest .right {
position: relative;
left: 85%;
cursor: pointer;

}
.app .todos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.app .todos .todo {
  margin-top: 0.8em;
  width: 20em;
  height: 2em;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  padding: 5px;
}
.app .todos .todo .left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.app .todos .todo .left p {
  margin-left: 3px;
  font-size: medium;
  font-weight: 700;
  font-style: normal;
  color: grey;}

  .list {

    background-color:white;
    height: 50px;
    align-content: center;
    justify-content: center;
    padding: 25px;
    font-size: 23px;
    background-repeat: no-repeat;
    border: 3px solid rgb(0, 66, 121);
  }

  .list .listedit {

    position: relative;
    left: 77%;
    top:-46px;
  
  }


  .list .listdelete{

    position: relative;
    left: 87%;
    top:-45px;
    display: inline-block;
  }


  .list .listdelete .deletelist{


    background-color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 6px;
    font-size: 15px;

  }

  .list .listdelete .deletelist::first-letter {
    font-size: 110%;
    color: #ff0000;
  }


  .editlist{


    background-color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 6px;
    font-size: 14px;
  }

  .editlist::first-letter {
    font-size: 120%;
    color: #ff0000;
  }



  .Apptestbgc {

    background-color: #fff;
    width: 625px;
    height: 430px;
    position: fixed;
    left: 120px;
    top: 223px;
  }

  .testE {

     position: absolute;
     top:-80px;
     left:500px
  }

  .titlespan {

    color: rgb(245, 80, 80);
    font-size: 19px;
    font-style:bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .contentspan {

    color: rgb(88, 88, 88);
    font-size: 16px;
    font-style:bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;


  }

  