@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
.homePage {
  font-family: "Raleway", sans-serif;
  color: #fffbfb;
  background-image: linear-gradient(to right bottom, #092841 50%, #52b69a 130%);
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 68vw 30vw;
  grid-template-rows: 15% 85%;
  justify-content: center;
  grid-template-areas: "header header" "achievements toDoList";
}
.homePage .boxes {
  border: none;
  border-radius: 10px;
  margin: 5px;
}
.homePage .header {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
  background-color: rgba(82, 182, 154, 0.3);
  grid-area: header;
}
.homePage .header .companyLogo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  column-gap: 5px;
}
.homePage .header .companyLogo .logo {
  background-image: url("./components/header/images/logo.jpg"), linear-gradient(#092841, #52b69a);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50px;
  width: 50px;
  order: 1;
}
.homePage .header .companyLogo .name {
  order: 2;
  font-weight: bolder;
  font-size: 30px;
}
.homePage .header .period {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}
.homePage .header .period .react-datepicker-wrapper {
  width: max-content;
}
.homePage .header .period .react-datepicker-wrapper .react-datepicker__input-container {
  width: max-content;
}
.homePage .header .period .datePicker {
  color: white;
  width: 130px;
  height: 35px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 5px;
  background-color: #52b69a;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.356);
  cursor: pointer;
  transition: 100ms;
}
.homePage .header .period .datePicker:focus {
  outline: none;
}
.homePage .header .period .datePicker:hover {
  background-color: #3f967e;
}
.homePage .header .period .searchButton {
  margin-left: 10px;
  background-color: #52b69a;
  color: white;
  border: none;
  width: 90px;
  height: 35px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.3px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.356);
  cursor: pointer;
  transition: 100ms;
}
.homePage .header .period .searchButton:focus {
  outline: none;
}
.homePage .header .period .searchButton:hover {
  background-color: #3f967e;
}
.homePage .header .presentation {
  color: white;
  text-shadow: 0px 0px 30px black;
  width: 130px;
  height: 35px;
  font-size: 18px;
  line-height: 35px;
  font-weight: bolder;
  text-align: center;
  letter-spacing: 0.3px;
  border: none;
  border-radius: 5px;
  background-color: #52b69a;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.356);
}
.homePage .header .presentation:hover {
  background-color: #3f967e;
}
.homePage .achievements {
  background-color: rgba(255, 255, 255, 0.1);
  grid-area: achievements;
  font-size: 50px;
  text-align: center;
}
.homePage .toDoList {
  grid-area: toDoList;
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;
  overflow: scroll;
  position: relative;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.homePage .toDoList::-webkit-scrollbar {
  display: none;
}
.homePage .toDoList h2 {
  color: white;
  margin: 10px;
  position: relative;
}
.homePage .toDoList h2::after {
  content: "";
  position: absolute;
  background-color: rgba(82, 182, 154, 0.4);
  width: 100%;
  height: 2px;
  bottom: -4px;
  left: 0;
}
.homePage .toDoList .item {
  border: none;
  margin: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.6);
}
.homePage .toDoList .item h3 {
  width: max-content;
  margin: 8px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 5px;
}
.homePage .toDoList .item h3::after {
  content: "";
  background-color: white;
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  bottom: 0;
}
.homePage .toDoList .item h3 .removeProjectButton {
  background-color: rgba(255, 0, 0, 0.705);
  color: white;
  border: none;
  width: 15px;
  height: 15px;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.3px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.356);
  cursor: pointer;
  transition: 100ms;
}
.homePage .toDoList .item h3 .removeProjectButton:focus {
  outline: none;
}
.homePage .toDoList .item h3 .removeProjectButton:hover {
  background-color: rgba(204, 0, 0, 0.705);
}
.homePage .toDoList .item h4 {
  color: #52b69a;
}
.homePage .toDoList .item .content {
  line-height: 25px;
  margin-left: 20px;
  text-align: left;
}
.homePage .toDoList .addListButton {
  position: fixed;
  right: 1.8%;
  top: 100px;
  background-color: #52b69a;
  color: white;
  border: none;
  width: 50px;
  height: 30px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.3px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.356);
  cursor: pointer;
  transition: 100ms;
}
.homePage .toDoList .addListButton:focus {
  outline: none;
}
.homePage .toDoList .addListButton:hover {
  background-color: #3f967e;
}
.homePage .addListWrapper {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
  display: grid;
  place-items: center;
  transition: 1s;
}
.homePage .addListWrapper form {
  background-color: #52b69a;
  padding: 20px 50px;
  height: max-content;
  min-width: 15rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.homePage .addListWrapper form label {
  font-size: 22px;
  font-weight: bold;
  color: black;
  margin-right: 5px;
  width: max-content;
}
.homePage .addListWrapper form input {
  font-family: "Raleway", sans-serif;
  font-size: large;
  height: 30px;
  text-align: center;
  border: none;
  border-radius: 5px;
  outline: none;
}
.homePage .addListWrapper form input:focus {
  box-shadow: 0px 0px 5px 0.2px #092841;
}
.homePage .addListWrapper form textarea {
  font-size: large;
  max-height: 100px;
  max-width: 220px;
  text-align: left;
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 5px;
}
.homePage .addListWrapper form textarea:focus {
  box-shadow: 0px 0px 5px 0.2px #092841;
}
.homePage .addListWrapper form .submitButton {
  align-self: center;
  background-color: #092841;
  color: white;
  border: none;
  width: 80px;
  height: 35px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.3px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.356);
  cursor: pointer;
  transition: 100ms;
}
.homePage .addListWrapper form .submitButton:focus {
  outline: none;
}
.homePage .addListWrapper form .submitButton:hover {
  background-color: #030c14;
}
.homePage .addListWrapper form .cancelButton {
  align-self: flex-end;
  background-color: #092841;
  color: white;
  border: none;
  width: 35px;
  height: 30px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.3px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.356);
  cursor: pointer;
  transition: 100ms;
}
.homePage .addListWrapper form .cancelButton:focus {
  outline: none;
}
.homePage .addListWrapper form .cancelButton:hover {
  background-color: #030c14;
}

/*# sourceMappingURL=Home.css.map */
