@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

//variables
$mainColor: rgb(9, 40, 65);
$subColor: rgba(82, 182, 154);
$textColor: #FFFBFB;
$warning: rgb(192, 12, 12);


.homePage{
    color: $textColor;
    background-image: linear-gradient(to right bottom, $mainColor 50%, $subColor 130%);
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 68vw 30vw;
    grid-template-rows: 15% 85%;
    justify-content: center;
    grid-template-areas:
    "header header"
    "achievements toDoList";

    .boxes{
        border: none;
        border-radius: 10px;
        margin: 5px;
    }
    .header{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0px 30px;
        
        // background-image: linear-gradient(to top right, rgba($mainColor, 0.7) 20%, 60%, rgba($subColor, 0.6));
        background-color: rgba($subColor, 0.3);
        grid-area: header;

        .companyLogo{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            column-gap: 5px;
            .logo{
                background-image: url("./components/header/images/logo.jpg"), linear-gradient($mainColor, $subColor);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 50px;
                width: 50px;
                order: 1;
            }
            .name{
                order: 2;
                font-weight: bolder;
                font-size: 30px;
            }
        }

        .period{
            display: flex;
            flex-direction: row;
            align-items: center;
            align-content: center;
            // react generated class
            .react-datepicker-wrapper{
                width: max-content;
                .react-datepicker__input-container{
                    width: max-content;
                }
            }
            .datePicker{
                color: white;
                text-shadow: 0px 0px 30px black;
                width: 130px;
                height: 35px;
                font-size: 18px;
                font-weight: bold;
                text-align: center;
                border: none;
                border-radius: 5px;
                background-color: $subColor;
                box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.356);
                cursor: pointer;
                transition: 100ms;
                &:focus{
                    outline: none;
                }
                &:hover{
                    background-color: darken($color: $subColor, $amount: 10%);
                }
            }
            .searchButton{
                background-color: $subColor;
                color: white;
                margin-left: 10px;
                border: none;
                width: 90px;
                height: 35px;
                font-size: 18px;
                font-weight:600;
                letter-spacing: 0.5px;
                text-align: center;
                border-radius: 5px;
                background-color: $subColor;
                box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.356);
                cursor: pointer;
                transition: 100ms;
                &:focus{
                    outline: none;
                }
                &:hover{
                    background-color: darken($color: $subColor, $amount: 10%);
                }
            }
        }

        .presentation{
            color: rgb(255, 255, 255);
            text-shadow: 0px 0px 30px black;
            width: 130px;
            height: 35px;
            font-size: 18px;
            line-height: 35px;
            font-weight: bolder;
            text-align: center;
            border: none;
            border-radius: 5px;
            background-color: $subColor;
            box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.356);
            &:hover{
                background-color: darken($color: $subColor, $amount: 10%);
            }
        }
    }
    .achievements{
        // background-color: rgba($mainColor, 0.5);
        // background-color: rgba($subColor, 0.1);
        background-color: rgba(white, 0.1);
        grid-area: achievements;
        font-size: 50px;
        text-align: center;
    }

    .toDoList{
        grid-area: toDoList;
        // background-color: $mainColor;
        // background-color: rgba($subColor, 0.1);
        background-color: rgba(white, 0.1);
        font-size: 50px;
        text-align: center;
    }
}