@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
.homePage {
  font-family: "Raleway", sans-serif;
  color: #fffbfb;
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(50%, #092841), color-stop(130%, #52b69a));
  background-image: linear-gradient(to right bottom, #092841 50%, #52b69a 130%);
  height: 100vh;
  width: 100vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 68vw 30vw;
      grid-template-columns: 68vw 30vw;
  -ms-grid-rows: 15% 85%;
      grid-template-rows: 15% 85%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
      grid-template-areas: "header header" "achievements toDoList";
}

.homePage .boxes {
  border: none;
  border-radius: 10px;
  margin: 5px;
}

.homePage .header {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 30px;
  background-color: rgba(82, 182, 154, 0.3);
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
}

.homePage .header .companyLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 5px;
          column-gap: 5px;
}

.homePage .header .companyLogo .logo {
  background-image: url("./components/header/images/logo.jpg"), -webkit-gradient(linear, left top, left bottom, from(#092841), to(#52b69a));
  background-image: url("./components/header/images/logo.jpg"), linear-gradient(#092841, #52b69a);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50px;
  width: 50px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.homePage .header .companyLogo .name {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  font-weight: bolder;
  font-size: 30px;
}

.homePage .header .period {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.homePage .header .period .react-datepicker-wrapper {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.homePage .header .period .react-datepicker-wrapper .react-datepicker__input-container {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.homePage .header .period .datePicker {
  background-color: #52b69a;
  color: white;
  border: none;
  width: 130px;
  height: 35px;
  line-height: 35px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.3px;
  text-align: center;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.356);
          box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.356);
  cursor: pointer;
  -webkit-transition: 100ms;
  transition: 100ms;
  transition: 100ms;
}

.homePage .header .period .datePicker:focus {
  outline: none;
}

.homePage .header .period .datePicker:hover {
  background-color: #3f967e;
}

.homePage .header .period .datePicker:focus {
  outline: none;
}

.homePage .header .period .datePicker:hover {
  background-color: #3f967e;
}

.homePage .header .period .searchButton {
  margin-left: 10px;
  background-color: #52b69a;
  color: white;
  border: none;
  width: 90px;
  height: 35px;
  line-height: 35px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.3px;
  text-align: center;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.356);
          box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.356);
  cursor: pointer;
  -webkit-transition: 100ms;
  transition: 100ms;
}

.homePage .header .period .searchButton:focus {
  outline: none;
}

.homePage .header .period .searchButton:hover {
  background-color: #3f967e;
}

.homePage .header .presentationButton {
  background-color: #52b69a;
  color: white;
  border: none;
  width: 130px;
  height: 35px;
  line-height: 35px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.3px;
  text-align: center;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.356);
          box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.356);
  cursor: pointer;
  -webkit-transition: 100ms;
  transition: 100ms;
  font-weight: 700;
}

.homePage .header .presentationButton:focus {
  outline: none;
}

.homePage .header .presentationButton:hover {
  background-color: #3f967e;
}

.homePage .achievements {
  background-color: rgba(255, 255, 255, 0.1);
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: achievements;
  font-size: 50px;
  text-align: center;
}

.homePage .toDoList {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: toDoList;
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;
  position: relative;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.homePage .toDoList .toDoList-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.homePage .toDoList .toDoList-header h2 {
  color: white;
  margin: 10px;
  position: relative;
}

.homePage .toDoList .toDoList-header h2::after {
  content: "";
  position: absolute;
  background-color: rgba(82, 182, 154, 0.4);
  width: 100%;
  height: 2px;
  bottom: -4px;
  left: 0;
}

.homePage .toDoList .toDoList-header .addListButton {
  background-color: #52b69a;
  color: white;
  border: none;
  width: 50px;
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.3px;
  text-align: center;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.356);
          box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.356);
  cursor: pointer;
  -webkit-transition: 100ms;
  transition: 100ms;
}

.homePage .toDoList .toDoList-header .addListButton:focus {
  outline: none;
}

.homePage .toDoList .toDoList-header .addListButton:hover {
  background-color: #3f967e;
}

.homePage .toDoList .itemWrapper {
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.homePage .toDoList .itemWrapper::-webkit-scrollbar {
  display: none;
}

.homePage .toDoList .itemWrapper .item {
  border: none;
  margin: 5px;
  margin-left: auto;
  margin-right: auto;
  min-width: 300px;
  width: 80%;
  padding: 10px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-transition: -webkit-box-shadow 150ms;
  transition: -webkit-box-shadow 150ms;
  transition: box-shadow 150ms;
  transition: box-shadow 150ms, -webkit-box-shadow 150ms;
  position: relative;
}

.homePage .toDoList .itemWrapper .item::after {
  position: absolute;
  content: "";
  left: 2px;
  top: 50%;
  height: 0%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 4px;
  background-color: #52b69a;
  -webkit-transition: height 200ms;
  transition: height 200ms;
  border-radius: 5px;
}

.homePage .toDoList .itemWrapper .item:hover::after {
  height: 90%;
}

.homePage .toDoList .itemWrapper .item .removeProjectButton {
  background-color: #52b69a;
  color: white;
  border: none;
  width: 18px;
  height: 18px;
  line-height: 18px;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.3px;
  text-align: center;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.356);
          box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.356);
  cursor: pointer;
  -webkit-transition: 100ms;
  transition: 100ms;
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: black;
}

.homePage .toDoList .itemWrapper .item .removeProjectButton:focus {
  outline: none;
}

.homePage .toDoList .itemWrapper .item .removeProjectButton:hover {
  background-color: #214e41;
}

.homePage .toDoList .itemWrapper .item h3 {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 280px;
  margin: 8px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.homePage .toDoList .itemWrapper .item h3::after {
  content: "";
  background-color: white;
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  bottom: -1px;
}

.homePage .toDoList .itemWrapper .item h4 {
  color: #52b69a;
}

.homePage .toDoList .itemWrapper .item .content {
  line-height: 25px;
  margin-left: 20px;
  text-align: left;
}

.homePage .toDoList .itemWrapper .item .content li {
  min-width: 250px;
  margin: 5px;
  padding: 5px;
  overflow-wrap: break-word;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5px;
          column-gap: 5px;
  position: relative;
  border-radius: 5px;
  -webkit-transition: -webkit-box-shadow 100ms;
  transition: -webkit-box-shadow 100ms;
  transition: box-shadow 100ms;
  transition: box-shadow 100ms, -webkit-box-shadow 100ms;
}

.homePage .toDoList .itemWrapper .item .content li:hover {
  -webkit-box-shadow: 0px 0px 5px 0.5px rgba(82, 182, 154, 0.7);
          box-shadow: 0px 0px 5px 0.5px rgba(82, 182, 154, 0.7);
}

.homePage .toDoList .itemWrapper .item .content li::before {
  content: "";
  position: absolute;
  left: -15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #52b69a;
}

.homePage .toDoList .itemWrapper .item .content li .removeContentButton {
  background-color: white;
  color: white;
  border: none;
  width: 16px;
  height: 15px;
  line-height: 15px;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.3px;
  text-align: center;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.356);
          box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.356);
  cursor: pointer;
  -webkit-transition: 100ms;
  transition: 100ms;
  color: black;
  font-size: bolder;
}

.homePage .toDoList .itemWrapper .item .content li .removeContentButton:focus {
  outline: none;
}

.homePage .toDoList .itemWrapper .item .content li .removeContentButton:hover {
  background-color: #4d4d4d;
}

.homePage .toDoList .itemWrapper .item .content li p {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  line-height: 20px;
  width: 100%;
  overflow: hidden;
}

.homePage .toDoList .itemWrapper .item .addContentButton {
  background-color: #52b69a;
  color: white;
  border: none;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.3px;
  text-align: center;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.356);
          box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.356);
  cursor: pointer;
  -webkit-transition: 100ms;
  transition: 100ms;
  color: black;
}

.homePage .toDoList .itemWrapper .item .addContentButton:focus {
  outline: none;
}

.homePage .toDoList .itemWrapper .item .addContentButton:hover {
  background-color: #214e41;
}

.homePage .addListWrapper {
  position: absolute;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  visibility: hidden;
}

.homePage .addListWrapper form {
  position: relative;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #52b69a;
  padding: 20px 50px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 20rem;
  min-width: 15rem;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
  visibility: hidden;
}

.homePage .addListWrapper form label {
  font-size: 22px;
  font-weight: bold;
  color: black;
  margin-right: 5px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.homePage .addListWrapper form input {
  font-family: "Raleway", sans-serif;
  font-size: large;
  height: 30px;
  text-align: center;
  border: none;
  border-radius: 5px;
  outline: none;
}

.homePage .addListWrapper form input:focus {
  -webkit-box-shadow: 0px 0px 5px 0.2px #092841;
          box-shadow: 0px 0px 5px 0.2px #092841;
}

.homePage .addListWrapper form textarea {
  font-size: large;
  max-height: 100px;
  max-width: 220px;
  text-align: left;
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 5px;
}

.homePage .addListWrapper form textarea:focus {
  -webkit-box-shadow: 0px 0px 5px 0.2px #092841;
          box-shadow: 0px 0px 5px 0.2px #092841;
}

.homePage .addListWrapper form .submitButton {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #092841;
  color: white;
  border: none;
  width: 80px;
  height: 35px;
  line-height: 35px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.3px;
  text-align: center;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.356);
          box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.356);
  cursor: pointer;
  -webkit-transition: 100ms;
  transition: 100ms;
}

.homePage .addListWrapper form .submitButton:focus {
  outline: none;
}

.homePage .addListWrapper form .submitButton:hover {
  background-color: #030c14;
}

.homePage .addListWrapper form .cancelButton {
  -ms-flex-item-align: end;
      align-self: flex-end;
  background-color: #092841;
  color: white;
  border: none;
  width: 35px;
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.3px;
  text-align: center;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.356);
          box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.356);
  cursor: pointer;
  -webkit-transition: 100ms;
  transition: 100ms;
}

.homePage .addListWrapper form .cancelButton:focus {
  outline: none;
}

.homePage .addListWrapper form .cancelButton:hover {
  background-color: #030c14;
}

.homePage .addContentWrapper {
  position: absolute;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  visibility: hidden;
}

.homePage .addContentWrapper form {
  position: relative;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #52b69a;
  padding: 20px 50px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 20rem;
  min-width: 15rem;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
  visibility: hidden;
}

.homePage .addContentWrapper form label {
  font-size: 22px;
  font-weight: bold;
  color: black;
  margin-right: 5px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.homePage .addContentWrapper form input {
  font-family: "Raleway", sans-serif;
  font-size: large;
  height: 30px;
  text-align: center;
  border: none;
  border-radius: 5px;
  outline: none;
}

.homePage .addContentWrapper form input:focus {
  -webkit-box-shadow: 0px 0px 5px 0.2px #092841;
          box-shadow: 0px 0px 5px 0.2px #092841;
}

.homePage .addContentWrapper form textarea {
  font-size: large;
  max-height: 100px;
  max-width: 220px;
  text-align: left;
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 5px;
}

.homePage .addContentWrapper form textarea:focus {
  -webkit-box-shadow: 0px 0px 5px 0.2px #092841;
          box-shadow: 0px 0px 5px 0.2px #092841;
}

.homePage .addContentWrapper form .submitButton {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #092841;
  color: white;
  border: none;
  width: 80px;
  height: 35px;
  line-height: 35px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.3px;
  text-align: center;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.356);
          box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.356);
  cursor: pointer;
  -webkit-transition: 100ms;
  transition: 100ms;
}

.homePage .addContentWrapper form .submitButton:focus {
  outline: none;
}

.homePage .addContentWrapper form .submitButton:hover {
  background-color: #030c14;
}

.homePage .addContentWrapper form .cancelButton {
  -ms-flex-item-align: end;
      align-self: flex-end;
  background-color: #092841;
  color: white;
  border: none;
  width: 35px;
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.3px;
  text-align: center;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.356);
          box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.356);
  cursor: pointer;
  -webkit-transition: 100ms;
  transition: 100ms;
}

.homePage .addContentWrapper form .cancelButton:focus {
  outline: none;
}

.homePage .addContentWrapper form .cancelButton:hover {
  background-color: #030c14;
}

.loginErrorWrapper {
  position: absolute;
  inset: 0;
  display: -ms-grid;
  display: grid;
  place-items: center;
  z-index: 50;
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(50%, #092841), color-stop(130%, #52b69a));
  background-image: linear-gradient(to right bottom, #092841 50%, #52b69a 130%);
}

.loginErrorWrapper .loginError {
  color: white;
}

.loginErrorWrapper .loginError .error {
  font-size: 25px;
  color: red;
}

.loginErrorWrapper .loginError a {
  color: white;
  text-decoration: none;
  background-color: #52b69a;
  color: white;
  border: none;
  width: 50px;
  height: 30px;
  line-height: 30px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.3px;
  text-align: center;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.356);
          box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.356);
  cursor: pointer;
  -webkit-transition: 100ms;
  transition: 100ms;
  display: inline-block;
  color: black;
}

.loginErrorWrapper .loginError a:focus {
  outline: none;
}

.loginErrorWrapper .loginError a:hover {
  background-color: #214e41;
}

.statusMessage-on {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: -ms-grid;
  display: grid;
  place-items: center;
  opacity: 1;
  -webkit-transition: all 50ms linear;
  transition: all 50ms linear;
  z-index: 20;
}

.statusMessage-on .statusMessage p {
  font-size: x-large;
  color: white;
}

.statusMessage-off {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: -ms-grid;
  display: grid;
  place-items: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 300ms 600ms;
  transition: all 300ms 600ms;
  z-index: 20;
}

.statusMessage-off .statusMessage p {
  font-size: x-large;
  color: white;
}

.form-left-right-one {
  -webkit-animation: left-right-one 500ms ease 1 forwards;
          animation: left-right-one 500ms ease 1 forwards;
}

.form-left-right-two {
  -webkit-animation: left-right-two 500ms ease 1 forwards;
          animation: left-right-two 500ms ease 1 forwards;
}

.wrapper-fade-in {
  -webkit-animation: fade-in 500ms ease 1 forwards;
          animation: fade-in 500ms ease 1 forwards;
}

.wrapper-fade-out {
  -webkit-animation: fade-out 500ms ease 1 forwards;
          animation: fade-out 500ms ease 1 forwards;
}

@-webkit-keyframes fade-in {
  from {
    left: 0;
    opacity: 0;
    width: 0;
    visibility: hidden;
  }
  to {
    left: 0;
    opacity: 1;
    width: 100%;
    visibility: visible;
  }
}

@keyframes fade-in {
  from {
    left: 0;
    opacity: 0;
    width: 0;
    visibility: hidden;
  }
  to {
    left: 0;
    opacity: 1;
    width: 100%;
    visibility: visible;
  }
}

@-webkit-keyframes fade-out {
  from {
    right: 0;
    opacity: 1;
    width: 100%;
    visibility: visible;
  }
  to {
    right: 0;
    opacity: 0;
    width: 0;
    visibility: hidden;
  }
}

@keyframes fade-out {
  from {
    right: 0;
    opacity: 1;
    width: 100%;
    visibility: visible;
  }
  to {
    right: 0;
    opacity: 0;
    width: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes left-right-one {
  from {
    left: -20%;
    opacity: 0;
    visibility: hidden;
  }
  to {
    left: 50%;
    opacity: 1;
    visibility: visible;
  }
}

@keyframes left-right-one {
  from {
    left: -20%;
    opacity: 0;
    visibility: hidden;
  }
  to {
    left: 50%;
    opacity: 1;
    visibility: visible;
  }
}

@-webkit-keyframes left-right-two {
  from {
    left: 50%;
    opacity: 1;
    visibility: visible;
  }
  to {
    left: 110%;
    opacity: 0;
    display: none;
    visibility: hidden;
  }
}

@keyframes left-right-two {
  from {
    left: 50%;
    opacity: 1;
    visibility: visible;
  }
  to {
    left: 110%;
    opacity: 0;
    display: none;
    visibility: hidden;
  }
}
/*# sourceMappingURL=Home.css.map */